<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Médico</title>
</head>

<body>

    <h1>Editar Médico</h1>

    <form method="POST">

        <label>Nombre:</label>
        <br>

        <input
            type="text"
            name="nombre"
            value="{{ medico.nombre }}"
            required
        >

        <br><br>


        <label>Especialidad:</label>
        <br>

        <select name="especialidad_id" id="especialidad_id" required>

            <option value="">
                Seleccione una especialidad
            </option>

            {% for especialidad in especialidades %}

            <option
                value="{{ especialidad.id }}"
                data-nombre="{{ especialidad.nombre }}"
                {% if medico.especialidad_id == especialidad.id %}
                    selected
                {% endif %}
            >
                {{ especialidad.nombre }}
            </option>

            {% endfor %}

        </select>

        <input
            type="hidden"
            name="especialidad"
            id="especialidad"
            value="{{ medico.especialidad }}"
        >

        <br><br>


        <label>Teléfono:</label>
        <br>

        <input
            type="text"
            name="telefono"
            value="{{ medico.telefono }}"
        >

        <br><br>


        <label>Correo:</label>
        <br>

        <input
            type="email"
            name="correo"
            value="{{ medico.correo }}"
        >

        <br><br>


        <button type="submit">
            Guardar Cambios
        </button>

    </form>

    <br>

    <a href="/medicos">
        Volver a Médicos
    </a>


    <script>

        const especialidadSelect =
            document.getElementById("especialidad_id");

        const especialidadTexto =
            document.getElementById("especialidad");

        especialidadSelect.addEventListener("change", function() {

            const opcion =
                this.options[this.selectedIndex];

            especialidadTexto.value =
                opcion.dataset.nombre || "";

        });

    </script>

</body>
</html>