<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Médico</title>
</head>
<body>

<h1>Registrar Médico</h1>

<form method="POST">

    <p>
        <label>Nombre:</label><br>
        <input type="text" name="nombre" required>
    </p>

    <p>
        <label>Especialidad:</label><br>
        <input type="text" name="especialidad" required>
    </p>

    <p>
        <label>Teléfono:</label><br>
        <input type="text" name="telefono">
    </p>

    <p>
        <label>Correo:</label><br>
        <input type="email" name="correo">
    </p>

    <button type="submit">
        Guardar Médico
    </button>

</form>

<br>

<a href="/medicos">Volver</a>

</body>
</html>