<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
</head>
<body>

    <h1>Listado de Pacientes</h1>
<a href="/pacientes/nuevo">Nuevo Paciente</a>
<br><br>
    <table border="1">
    <tr>

    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Documento</th>
    <th>Acciones</th>

    </tr>

        {% for paciente in pacientes %}
        <tr>
    <td>{{ paciente.id }}</td>
    <td>{{ paciente.nombre }}</td>
    <td>{{ paciente.apellido }}</td>
    <td>{{ paciente.documento }}</td>
    <td>
        <a href="/pacientes/editar/{{ paciente.id }}">Editar</a>
    |
        <a href="/pacientes/eliminar/{{ paciente.id }}"
           onclick="return confirm('¿Desea eliminar este paciente?')">
           Eliminar
        </a>
   </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>